# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build
build/
html/
doc/html
doc/example/bin
doc/example/build
doc/example/tools
doc/example/include
doc/example/lib
tests/yidl
tests/codegenerator/java
tests/codegenerator/*.cs

#cache
.cache/

#vscode
.vscode/